<%- include('./partials/head') %>
<body>
  <%- include('./partials/nav-bar') %>

  <main>

    <section class="anime-search">
      <%- include('./partials/search-bar') %>
    </section>
    <section class="anime-card-section">
      <div class="anime-card">
        <%- include('./partials/anime-carousel') %>
      </div>
    </section>
    
  </main>
  <%- include('./partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/client.js"></script>
  <script src="/js/animeCarousel.js"></script>
</body>
</html>
