<%- include('./partials/head') %>
<body>
  <main>
    <%- include('./partials/header') %>
  <!-- <%- include('./partials/nav-bar') %> -->
    <section class="nav-bar">
      <%- include('./partials/home-menu') %>
    </section>
    <div class="content">
      <div class="left-column">
        <section class="anime-card-section widget-container-left">
          <div class="anime-card">
            <%- include('./partials/anime-carousel') %>
          </div>
        </section>
        <section class="widget-container-left">
          <div class="user-reviews">
            <%- include('./partials/anime-reviews') %>
          </div>
        </section>

      </div>
      <div class="right-column">
        <section class="widget-container-right">
          <div class="widget popular-anime right">
            <div class="ranking-digest">
              <div class="ranking-header">
                <h2 class="h2_side">Most Popular Anime</h2>
              </div>
              <%- include('./partials/popular-anime') %>
            </div>
          </div>
          <div class="widget popular-airing-anime right">
            <div class="ranking-digest">
              <div class="ranking-header">
                <h2 class="h2_side">Most Popular Airing Anime</h2>
              </div>
              <%- include('./partials/popular-airing-anime') %>
            </div>
          </div>
        </section>
      </div>

    </div>
    
  </main>
  <%- include('./partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/client.js"></script>
  <script src="/js/animeCarousel.js"></script>
  
</body>
</html>
