<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=
        "width=device-width, 
        initial-scale=1.0">
  <title>AniMega Home</title>
  <link rel="stylesheet" type="text/css"  href="/css/style.css">
  
  <script src="/js/main.js"></script>
</head>
<body>
  <header>
    <h1>Welcome to AniMega!</h1>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/anime">Anime List</a></li>
      <li><a href="/manga">Manga List</a></li>
    </ul>
  </nav>

  <main>
    

  

    <section>
      <h2>Featured Anime</h2>
        <div class="anime-card">
          let media = '<%-media%>'
          <p>ID: <%= media.id %></p>
          <h2>Title</h2>
          <ul>
            <li>Romaji: <%= media.title.romaji %></li>
            <li>English: <%= media.title.english %></li>
            <li>Native: <%= media.title.native %></li>
          </ul>
        </div>
    </section>
    <section>
      <h2>Search Anime For : Me</h2>
      <%- include('./partials/search-bar'); %>
    </section>
  </main>
  <script src="/js/getSearchResults.js"></script>
  <script src="/js/searchBarAPI.js"></script>
  <script src="/js/client.js"></script>
  <footer>
    <p>&copy; 2023 AniMega. All rights reserved.</p>
  </footer>
</body>
</html>
