<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  <%- include('./partials/nav-bar') %>

  <main>
    <section>
      <h2>Featured Anime</h2>
      <div class="anime-card">
        <%- include('./partials/anime-carousel') %>
      </div>
    </section>
    <section>
      <h2>Search Anime:</h2>
      <%- include('./partials/search-bar') %>
      <%- include('./partials/search-results') %>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 AniMega. All rights reserved.</p>
  </footer>
  <script src="/js/client.js"></script>
  <script src="/js/animeRotation.js"></script>
</body>
</html>
